!!! 5
%html{ lang: "en-gb" }
  = partial "shared/head"
  %body{ id: current_page.data.slug || "blog" }
    = partial "shared/navbar"
    #main-content
      = yield
    = partial "shared/footer"
    = partial "shared/javascripts"
