---
slug: home
---

%header
  = image_tag("crest.png", alt: "Heartlands Crest", class: "crest")
  %h1 50 Years of Dialysis

.container
  .row
    .col-sm-6
      %p.intro
        In 1965, the first person in the West Midlands to have long-term dialysis for kidney failure started treatment at East Birmingham Hospital.

      :kramdown
        The 50th anniversary of this life-changing event is worth celebrating!

        We are gathering together stories, pictures and people linked to dialysis in East Birmingham over the last 50 years.

        If you would like to have something displayed on this site, please [contact Dr Hugh Rayner](mailto:#{data.site.email}).
    .col-sm-6
      :kramdown
        We have produced some anniversary badges. These are on sale at the cost price of **£3.50**. Please [contact Dr Hugh Rayner](mailto:#{data.site.email}) if you would like to buy one.

      = image_tag("shirt-badge.jpg", alt: "Anniversary badge", class: "img-responsive")


%section#party
  .container
    .row
      .col-sm-12
        :kramdown
          #Let's Celebrate!

          The Dialysis 50th Anniversary Ball will be held at<br>**Edgbaston Stadium on Saturday 30th January, 2016**.

          It will be a spectacular event that people will talk about for the next 50 years!

          _Tickets will go on sale during 2015._

          If you would like to join the planning team, please [contact Dr Hugh Rayner](mailto:#{data.site.email}).

%section#staff
  %h1.sr-only Faces from the Past
  = gallery("staff")
