---
slug: home
---

%header
  .container
    .inner
      = image_tag("crest.png", alt: "Heartlands Crest", class: "crest")
      %h1 50 Years of Dialysis

.container
  .row
    .col-sm-6
      %p.intro
        In 1965, the first person in the West Midlands to have long-term dialysis for kidney failure started treatment at East Birmingham Hospital.

    .col-sm-6
      :kramdown
        We are celebrating the 50th anniversary of this life-changing event with a Celebration Ball. It will be an evening of spectacular entertainment, featuring students from Birmingham's Performing Arts Academy, [The BOA](http://www.boa-academy.co.uk), and special guest star **Sir Elton!** We do hope you will join the celebration.

%section#invitation
  .container
    .row
      .col-sm-12.text-center
        %h2 30th January 2016, 7pm–1am
        %h3 Edgbaston Cricket Stadium, Birmingham, B5 7QU

        %p
          %strong Buy tickets now:
          Call Janet Gray and Marie Lloyd on
          %strong 0121 424 2112

        %p
          %small.text-muted
            Tickets are £35 for patients, staff and guests, £50 for consultants and generous friends. Admission is by ticket only. Prices include a
            = link_to "three course banquet.", "menu.pdf"
            Please state any dietary requirements when you ring.

%section#entertainment
  %h1.sr-only Our Entertainment: Sir Elton and The BOA
  = gallery("entertainment")

%section
  .container
    .row
      .col-sm-12
        .alert.alert-success.alert-dismissible#thanks
          %button.close{ data: { dismiss: "alert" } } &times;
          Thanks for signing up. We'll send you an email when tickets go on sale.
      .col-sm-6
        :kramdown
          We have produced some anniversary badges. These are on sale at the cost price of **£3.50**. Please [contact Dr Hugh Rayner](mailto:#{data.site.email}) if you would like to buy one.

          You can also subscribe to the mailing list for the latest on plans for the celebration.

        = form_tag "//formspree.io/#{data.site.email}", method: :post do
          .row.gutters-xs
            = hidden_field_tag "_next", value: "http://www.50yearsofdialysis.com/#thanks"
            = hidden_field_tag "_subject", value: "50th Anniversary Sign-up"
            .col-xs-8
              .form-group
                = label_tag :email, class: "sr-only"
                = email_field_tag :email, required: true, class: "form-control", id: :email, placeholder: "Your email address"
              .form-group#gotcha
                = label_tag :ignore, caption: "Please leave blank"
                = text_field_tag :_gotcha, id: :ignore
            .col-xs-4
              = submit_tag "Subscribe", class: "btn btn-default btn-block"
      .col-sm-6
        = image_tag("shirt-badge.jpg", alt: "Anniversary badge", class: "img-responsive")

%section
  .container
    .row
      .col-sm-6
        = link_to 'http://www.bbc.co.uk/archive/tomorrowsworld/8001.shtml' do
          = image_tag("tomorrows-world.jpg", alt: "Tomorrow's World", class: "img-responsive")
      .col-sm-6
        :kramdown
          ### The Inaugural 'Tomorrow's World'

          [The first episode of The BBC's 'Tomorrow's World'][tw] was broadcast 7th July 1965 on BBC 1.

          Derek Cooper, with help from consultant physician Dr Charles Fletcher, investigates new advances in kidney dialysis machines designed to work in the home and follows the range of opinions about this development.

          [tw]: http://www.bbc.co.uk/archive/tomorrowsworld/8001.shtml


%section#staff
  %h1.sr-only Faces from the Past
  = gallery("staff")

%section#cuttings
  .container
    .row
      .col-sm-offset-3.col-sm-6.text-center
        %h1.sr-only Press Cuttings
        %p These press cuttings are a reminder of the problems that had to be overcome in setting up the first dialysis service in the West Midlands.
      .col-sm-12
        = gallery("cuttings")
