---
slug: home
---

%header
  = image_tag("crest.png", alt: "Heartlands Crest", class: "crest")
  %h1 50 Years of Dialysis

.container
  .row
    .col-sm-6
      %p.intro
        In 1965, the first person in the West Midlands to have long-term dialysis for kidney failure started treatment at East Birmingham Hospital.

      :kramdown
        The 50th anniversary of this life-changing event is worth celebrating!

        We are gathering together stories, pictures and people linked to dialysis in East Birmingham over the last 50 years.

        If you would like to have something displayed on this site, please [contact Dr Hugh Rayner](mailto:#{data.site.email}).
    .col-sm-6
      :kramdown
        We have produced some anniversary badges. These are on sale at the cost price of **£3.50**. Please [contact Dr Hugh Rayner](mailto:#{data.site.email}) if you would like to buy one.

      = image_tag("shirt-badge.jpg", alt: "Anniversary badge", class: "img-responsive")

%section#party
  .container
    .row
      .col-sm-12
        .alert.alert-success.alert-dismissible#thanks
          %button.close{ data: { dismiss: "alert" } } &times;
          Thanks for signing up. We'll send you an email when tickets go on sale.
      .col-sm-12
        :kramdown
          #Let's Celebrate!

          The Dialysis 50th Anniversary Ball will be held at<br>**Edgbaston Stadium on Saturday 30th January, 2016**.

          It will be a spectacular event that people will talk about for the next 50 years!

          _Enter your email address below to be notified when tickets go on sale._
      .col-sm-offset-3.col-sm-6
        = form_tag "//formspree.io/#{data.site.email}", method: :post do
          .row.gutters-xs
            = hidden_field_tag "_next", value: "http://www.50yearsofdialysis.com/#thanks"
            = hidden_field_tag "_subject", value: "50th Anniversary Sign-up"
            .form-group.col-xs-8
              = label_tag :email, class: "sr-only"
              = email_field_tag :email, required: true, class: "form-control", id: :email, placeholder: "Your email address"
            .form-group#gotcha
              = label_tag :ignore, caption: "Please leave blank"
              = text_field_tag :_gotcha, id: :ignore
            .col-xs-4
              = submit_tag "Notify me", class: "btn btn-default btn-block"

      .col-sm-12
        :kramdown
          If you would like to join the planning team, please [contact Dr Hugh Rayner](mailto:#{data.site.email}).

%section#staff
  %h1.sr-only Faces from the Past
  = gallery("staff")

%section#cuttings
  .container
    .row
      .col-sm-offset-3.col-sm-6.text-center
        %h1.sr-only Press Cuttings
        %p These press cuttings are a reminder of the problems that had to be overcome in setting up the first dialysis service in the West Midlands.
      .col-sm-12
        = gallery("cuttings")
