---
slug: home
---

%header
  .container
    .inner
      = image_tag("crest.png", alt: "Heartlands Crest", class: "crest")
      %h1 50 Years of Dialysis

.container
  .row
    .col-sm-6
      .intro
        :kramdown
          In 1965, the first person in the West Midlands to have long-term dialysis for kidney failure started treatment at East Birmingham Hospital. Here is a short documentary on the years since.
    .col-sm-6
      = link_to 'https://vimeo.com/nhsmediahub/review/153505571/a67a73877e' do
        = image_tag("documentary.jpg", alt: "50 Years of Dialysis Video", class: "img-responsive")

%section#entertainment
  %h1.sr-only Our Entertainment: Sir Elton and The BOA
  = gallery("entertainment")

%section
  .container
    .row
      .col-sm-6.col-sm-push-6
        :kramdown
          [View 4 free chapters][chaps] of the recently published [Understanding Kidney Diseases][book] by Drs Hugh Rayner, Mark Thomas and David Milford.

          [book]: http://www.springer.com/gp/book/9783319234571
          [chaps]: http://www.theisn.org/education/education-topics/general-nephrology/item/2420-free-book-chapters-understanding-kidney-diseases
      .col-sm-6.col-sm-pull-6
        = link_to image_path('book.png'), 'data-fancybox-group' => '0' do
          = image_tag("book.png", alt: "Tomorrow's World", class: "img-responsive")

%section
  .container
    .row
      .col-sm-12
        .alert.alert-success.alert-dismissible#thanks
          %button.close{ data: { dismiss: "alert" } } &times;
          Thanks for signing up. We'll send you an email when tickets go on sale.
      .col-sm-6
        :kramdown
          We have produced some anniversary badges. These are on sale at the cost price of **£3.50**. Please [contact Dr Hugh Rayner](mailto:#{data.site.email}) if you would like to buy one.
      .col-sm-6
        = image_tag("shirt-badge.jpg", alt: "Anniversary badge", class: "img-responsive")

%section
  .container
    .row
      .col-sm-6.col-sm-push-6
        :kramdown
          [The inaugural episode of The BBC's 'Tomorrow's World'][tw] was broadcast 7th July 1965 on BBC 1.

          Derek Cooper, with help from consultant physician Dr Charles Fletcher, investigates new advances in kidney dialysis machines designed to work in the home and follows the range of opinions about this development.

          [tw]: http://www.bbc.co.uk/archive/tomorrowsworld/8001.shtml
      .col-sm-6.col-sm-pull-6
        = link_to 'http://www.bbc.co.uk/archive/tomorrowsworld/8001.shtml' do
          = image_tag("tomorrows-world.jpg", alt: "Tomorrow's World", class: "img-responsive")

%section
  .container
    .row
      .col-sm-6
        :kramdown
          [Recollections of early days on the East Birmingham dialysis unit][jh] by Dr John Hawkins.

          [jh]: https://vimeo.com/nhsmediahub/review/135346169/58eac1c3cd
      .col-sm-6
        = link_to 'https://vimeo.com/nhsmediahub/review/135346169/58eac1c3cd' do
          = image_tag("john-hawkins.jpg", alt: "Dr John Hawkins", class: "img-responsive")


%section#staff
  %h1.sr-only Faces from the Past
  = gallery("staff")

%section#cuttings
  .container
    .row
      .col-sm-offset-3.col-sm-6.text-center
        %h1.sr-only Press Cuttings
        %p These press cuttings are a reminder of the problems that had to be overcome in setting up the first dialysis service in the West Midlands.
      .col-sm-12
        = gallery("cuttings")
